<div class="carroflotante">
      <div class="panel panel-default">
        <div class="panel-heading">
        <%= fa_icon '2x opencart' %>
        CARRO
        </div>
        <div class="panel-body">CUERPO CARRO</div>
      </div>
  </div>
