<div class="carroflotante">
 <a class="btn btn-carro" role="button" data-toggle="collapse" href="#collapseCarro" aria-expanded="false" aria-controls="collapseCarro">
  CARRO DE COMPRA
</a>

<div class="collapse" id="collapseCarro">
  <div class="well">
      <table>
            <tr>
              <td><%= current_user.articulosSeleccionados %> ARTICULOS </td>
            </tr>
            <tr>
              <td>

                <%= number_to_currency(current_user.totalPagar, precision: 0) %>
              </td>
            </tr>

            <tr>
              <td>
              <%= button_to carro_path(current_user), :method => "get" do %>
               VER <%= fa_icon 'opencart' %>

              <% end %>
              </td>
            </tr>

            </table>




  </div>
</div>
</div>
