<div class="panel panel-default panel-main-tabs">

      <!-- Nav tabs -->
      <ul class="panel-heading panel-tabs nav nav-tabs nav-pills" role="tablist">
        <li role="presentation" class="pilltab active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li role="presentation" class="pilltab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation" class="pilltab"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation" class="pilltab"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
      </ul>

    <div class="panel-body panel-tabs-body">
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active" id="home">...</div>
        <div role="tabpanel" class="tab-pane fade " id="profile">...</div>
        <div role="tabpanel" class="tab-pane fade" id="messages">...</div>
        <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
      </div>

    </div>



</div>
