
<% if @menucategorias.present? and @menucategorias == 1 %>

  <%= render "layouts/parts/menucategorias" %>

<% end %>

 <div class="row">
      <div class="col-md-12">
      <%= yield %>
      </div>
    </div>



