<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/parts/busquedas' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/parts/categorias' %>
  </div>
</div>
