<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/parts/carro' %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/parts/mistiendas' %>
  </div>
</div>
