
 <div class="panel panel-default panel-lateral">


          <div class="panel-heading panel-lateral-heading"" role="tab" id="carrosection">
                <div class="row">


                 <div class="col-md-12">
                    INICIO SESION
                  </div>


              </div>
          </div>




    <div   class="panel-body panel-lateral" role="tabpanel" aria-labelledby="carrosection">




        <div class="panel-body">


             <%= render 'layouts/parts/login' %>



        </div>
      </div>
    </div>

