<div class="pie" ng-controller="footAppController">
  <a href="#top" class="enlaces1">
  <div class="pie1" >
    <center>
      <%= fa_icon "arrow-up 2x" %> VOLVER ARRIBA <%= fa_icon "arrow-up 2x" %>
    </center>
  </div>
  </a>

  <div class="pie2">
  <div class="row">
    <div class="col-md-3 celdasinpadding"></div>
    <div class="col-md-2 celdasinpadding">

        <ul class="footlink">
          <li class="encabezadofooter">NOSOTROS</li>
          <li><a href="#" class="enlacefooter" >Misión y Visión</a></li>
          <li><a href="#" class="enlacefooter" >Nuestras carreras</a></li>
          <li><a href="#" class="enlacefooter" >Acerca de Nosotros</a></li>
        </ul>
        </div>
    <div class="col-md-2 celdasinpadding">
          <ul  class="footlink">
            <li class="encabezadofooter">UNETE A NOSOTROS</li>
            <li><a href="#" class="enlacefooter" >Promueve tus productos</a></li>
            <li><a href="#" class="enlacefooter" >Envianos tus datos</a></li>

          </ul>


    </div>
    <div class="col-md-2 celdasinpadding">
        <ul class="footlink">
          <li class="encabezadofooter">DEJANOS AYUDARTE</li>
          <li><a href="#" class="enlacefooter" >Contactanos</a></li>
          <li><a href="#" class="enlacefooter" >Preguntas Frecuentes</a></li>

        </ul>
        </div>
    <div class="col-md-3" celdasinpadding></div>


  </div>


  </div>
</div>
