      <div class="panel panel-default">
          <div class="panel-body">
           <table>
            <tr>
              <% i = 0 %>

               <%= @ultimos %>
               <% if !@ultimos.empty?   %>
                 <% @ultimos.each do |producto| %>
                  <% if  producto.imagenprincipal.present? %>
                   <% if i == 6 %>
                      </tr><tr>
                    <% end %>
                    <% i = i + 1 %>
                    <td>
                      <%= link_to producto do %>
                        <table class="table table-bordered">
                          <tr>
                            <td>
                              <%= image_tag producto.imagenprincipal, class: 'img-responsive'   %>
                            </td>
                          </tr>
                          <tr>
                            <td align="center">
                              <strong>Desde
                                      <%= number_to_currency(producto.price_since , precision: 0) %>
                              </strong>
                            </td>
                          </tr>
                        </table>
                      <% end %>
                    </td>


                  <% end %>
                <% end %>
                <% end %>
             </tr>
            </table>
             </div>
      </div>
