      <div class="panel panel-default">
        <div class="panel-body">
        <table>
            <tr>
          <% i = 0 %>
          <% @masvendidos.each do |dest| %>
           <% if i == 6 %>
              </tr><tr>
            <% end %>
            <% i = i + 1 %>
          <td>
           <%= link_to dest do %>
            <table class="table table-bordered">
            <tr><td>

            <%= image_tag dest.avatar.url(:square), class: 'img-responsive'  %>
 </tr>
             <tr><td align="center">
             <strong>Desde
                      <%= number_to_currency(dest.price_since , precision: 0) %>
                    </strong>
                    </td></tr>
             </table>
            <% end %>
            </td>

        <% end %>
          </tr>
            </table>
           </div>
      </div>
