
<div class="well well-carrusel" align="center">

<%= render 'static_pages/componentes/carrusel' %>

</div>


      <div class="panel panel-default">
        <div class="panel-body">
          <% if @destacados.present? %>
              <% @destacados.each do |producto| %>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                  <%= link_to producto do %>
                    <table class="table table-bordered imagenes_inicio">
                    <tr>
                      <td align="center">
                        <%= image_tag producto.imagenprincipal , class: 'img-responsive', caption: 'articulo'  %>
                     </td>
                     </tr>
                     <tr><td align="center">
                        <strong>Desde
                          <%= number_to_currency(producto.price_since , precision: 0) %>
                        </strong>
                      </td></tr>
                     </table>
                  <% end %>
                </div>

              <% end %>
            <% end %>

        </div>
      </div>
