
<div class="panel panel-default panel-main-tabs">
  <!-- Nav tabs -->
  <ul class="panel-heading panel-tabs nav nav-tabs nav-pills panel-heading-tabs" role="tablist">
    <li role="presentation" class="pilltab active"><a class="tabs-personal" href="#destacados" aria-controls="home" role="tab" data-toggle="tab">DESTACADOS</a></li>
    <li role="presentation" class="pilltab" ><a class="tabs-personal" href="#ultimos" aria-controls="ultimos" role="tab" data-toggle="tab">ULTIMOS PRODUCTOS</a></li>
    <li role="presentation" class="pilltab" ><a class="tabs-personal" href="#masvendidos" aria-controls="masvendidos" role="tab" data-toggle="tab">MAS VENDIDOS</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane  fade in active" id="destacados">
    <%= render :partial => 'destacados'%>

    </div>


    <div role="tabpanel" class="tab-pane fade" id="ultimos">
      <%= render :partial => 'ultimos'%>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="masvendidos">
      <%= render :partial => 'vendidos'%>
    </div>

  </div>

</div>


