
  <div class="row">
    <div class="col-md-1">
    </div>
    <% @main_products.each do |art| %>
      <div class="col-md-2">
        <%= link_to art.name, product_path(art) %>
        <% art.imagenesarticulos.each do |imagen| %>
        <%= ('<img src="data:image/jpg;base64,%s"  width="100px">' % Base64.encode64(imagen.file_contents)).html_safe %>
        <% end %>
      </div>
    <% end %>
    <div class="col-md-1">
    </div>
  </div>
