<div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#destacados" aria-controls="home" role="tab" data-toggle="tab">DESTACADOS</a></li>
    <li role="presentation"><a href="#ultimos" aria-controls="ultimos" role="tab" data-toggle="tab">ULTIMOS PRODUCTOS</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane  fade in active" id="destacados">
    <%= render :partial => 'destacados'%>

    </div>


    <div role="tabpanel" class="tab-pane fade" id="ultimos">
      <%= render :partial => 'ultimos'%>
    </div>


  </div>

</div>


