
<%= render "static_pages/componentes/banner" %>


      <div class="panel panel-default">
        <div class="panel-body">
        <table>
            <tr>
              <% i = 0 %>

              <% if !@masvendidos.empty? %>
                <% @masvendidos.each do |producto| %>
                   <% if i == 6 %>
                      </tr><tr>
                    <% end %>
                    <% i = i + 1 %>
                    <td>
                    <%= link_to producto, { :class => 'tooltips', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => '', 'data-original-title' =>  producto.name.capitalize   + " | "+ producto.marca.name.capitalize}  do %>
                      <table class="tablaimagenes imagenes_inicio">
                        <tr>
                          <td>
                            <%= image_tag producto.imagenprincipal , class: 'img-responsive'  %>
                           </td>
                        </tr>

                      </table>
                    <% end %>
                  </td>
                  <% end %>
                <% else %>




                <% end %>
          </tr>
            </table>
           </div>
      </div>
