<div class="panel panel-default" ng-controller="appControllerStock as appctl">
  <div class="panel-heading" ng-init="cargaInicial()">
  STOCKS
  </div>

  <div class="well">
      <div class="row">
        <div class="col-md-12">
          <table>
          <tr><td>BODEGA</td></tr>
          <tr><td>
            <select name="bodega" class="form-control animacionFadeOn" id="talla" ng-model="bodega.bodegaescogida" ng-change='cargaProductos()' >

              <option value="" selected disabled>Seleccione Bodega</option>
              <option ng-repeat="option in bodegas" value={{option.id}} >{{option.nombre}}</option>

            </select>
          </td></tr>
          </table>
        </div>
      </div>
      <div class="row">

      <div class="col-md-4">
        <table>
        <tr><td>PRODUCTOS</td></tr>
        <tr><td>
          <select name="articulo" class="form-control animacionFadeOn" id="articulos" ng-model="productos.productoescogido" ng-change='cargaSexos()' ng-disabled="bodegaCargada" >
            <option value="" selected disabled>Seleccione Producto</option>
            <option ng-repeat="option in productos" value={{option.id}}>{{option.nombre}}</option>

          </select>
        </td></tr>
        </table>
      </div>


      <div class="col-md-4">
        <table>
        <tr><td>SEXO</td></tr>
        <tr><td>
          <select name="sexo" class="form-control animacionFadeOn" id="sexos" ng-model="sexo.sexoescogido" ng-change='cargaTallas()' ng-disabled="productoCargado" >

            <option value="" selected disabled>Seleccione Sexo</option>
            <option ng-repeat="option in sexos"  >{{option}}</option>

          </select>
        </td></tr>
        </table>
      </div>




      </div>

      <div class="row">


      <div class="col-md-4">
        <table>
        <tr><td>TALLA</td></tr>
        <tr><td>
          <select name="talla" class="form-control animacionFadeOn" id="talla" ng-model="tallas.tallaescogida" ng-change='cargaColores()' ng-disabled="sexoCargado" >

            <option value="" selected disabled>Seleccione Talla</option>
            <option ng-repeat="option in tallas"  >{{option}}</option>

          </select>
        </td></tr>
        </table>
      </div>



       <div class="col-md-4">
        <table>
        <tr><td>COLOR</td></tr>
        <tr><td>
          <select name="color" class="form-control animacionFadeOn" id="color" ng-model="colores.colorescogido" ng-change='habilitaStock()' ng-disabled="tallaCargada" >

            <option value="" selected disabled>Seleccione Color</option>
            <option ng-repeat="option in colores"  >{{option}}</option>

          </select>
        </td></tr>
        </table>
      </div>

      <div class="col-md-2">
        <table>
        <tr><td>CANTIDAD</td></tr>
        <tr><td>
            <div class="form-group">
              <input type="text" name="cantidad" ng-model="cantidad" class="form-control"  ng-disabled="colorCargado" ng-change="habilitaIngreso()">
            </div>
          </td></tr>
        </table>
      </div>
      <div class="col-md-2">
        <table>
          <tr><td><button class="btn btn-default" ng-click="limpiar()">LIMPIAR</button></td></tr>
          <tr><td><button class="btn btn-default" ng-disabled="ingresoDeshabilitado" ng-click="ingresaStock()">INGRESO</button></td>
          </tr>
          </table>
      </div>
    </div>

  </div>
<table class="table table-bordered">
  <tr class="active">
    <td>STOCK</td>
    <td>PRODUCTO</td>
    <td>COLOR</td>
    <td>TALLA</td>
    <td>SEXO</td>
    <td>BODEGA</td>
    <td></td>
  </tr>





  <tr ng-repeat="articulo in articulos">
    <td>{{articulo.stock}}</td>
    <td>{{articulo.nombre}}</td>
    <td>{{articulo.color}}</td>
    <td>{{articulo.talla}}</td>
    <td>{{articulo.sexo}}</td>
    <td>{{articulo.bodega}}</td>
    <td>  <button  class="btn btn-default" ng-click="eliminaStock(articulo.id) ">ELIMINA</button>

    </td>
  </tr>

</table>
  <div class="panel-footer">
    <%= link_to "VOLVER", tienda_path(@tienda) %>
  </div>
</div>
