<div class="panel panel-default">
  <div class="panel-heading">
    <h4>LISTADO TIENDAS</h4>
  </div>
  <div class="panel-body">
    <div class="row">
    <% i = 1 %>
    <% @tiendas.each do |tienda| %>

      <div class="col-md-1 imagenesThumb">
        <%= link_to articulostienda_path(tienda) do %>
          <table>
            <tr>
              <td class="contenedorImagenTienda">
                <%= image_tag tienda.imagen.url(:thumb) %>
              </td>
            </tr>
            <tr>
              <td align="center">
                <h5><%= tienda.name %></h5>
              </td>
            </tr>
          </table>
        <% end %>
       </div>

        <% i = i +1 %>

        <% if i == 12 %>
          </div><div class="row">
        <% end %>

    <% end %>

    </div>
  </div>
</div>
