<div class='panel panel-default' >
  <table class="table">
      <%= render :partial => "tiendas/cabeceratienda" %>

    <tr class="active">
      <th colspan='4'>
        <center><h4>ACCESOS A TIENDA</h4></center>
      </th>
    </tr>
    <tr>
      <td colspan="4">
        <div class="panel panel-default" ng-controller="accesosTiendaController as accesos">
          <div class="panel-heading">
            <select  ng-options="usuario as usuario.nombre for usuario in usuariosSelect track by usuario.id"  ng-model="selectedValue">

            </select>

            <button ng-click="agregaUsuario()">Agrega</button>
          </div>


            <table class="table table-bordered">

                <tr ng-repeat="usuario in usuarios">
                <td>
               {{usuario.nombre}}
                </td>
                <td>
              <button ng-click="elimina(usuario)">Elimina</button>
                </td>
                </tr>

            </table>

        </div>

      </td>
    </tr>

  </table>

  </div>
