 <div class="dropdown navbar-btn">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownusuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          ADMINISTRADOR
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownusuario">
      <li><%= link_to "TIPOS DE CONTACTO",  contactypes_path%></li>
      <li> <%= link_to "CATEGORIAS",  categories_path%></li>
      <li><%= link_to "PRODUCTOS",  products_path%></li>
      <li><%= link_to "MARCAS",  marcas_path%></li>
    </ul>
  </div>

