
<div class="dropdown navbar-btn">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownusuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        VENDEDOR
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownusuario">
    <li><%= link_to "ADMINISTRAR TIENDA", tiendas_path%></li>

  </ul>
</div>
