<div class="panel panel-default">
  <div class="panel-heading">
    CREAR DESPACHO
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>

  <div class="panel-footer">
    <%= link_to "VOLVER A LISTA DESPACHOS", despachos_path, class: "btn btn-default"%>
  </div>
</div>
