
  <table class="table table-bordered">
  <tr>
    <td>ESTADO</td>
    <td> <%= @order.statusorder.value %></td>
  </tr>
  <tr>
    <td>FECHA ACTUALIZACIÓN</td>
    <td><%= @order.fechacambio %></td>
  </tr>
  <tr></tr>
  </table>

