
  <table class="table table-bordered">
  <tr>
    <td>ESTADO</td>
    <td> <%= @order.statusorder.value %></td>
  </tr>
  <tr>
    <td>FECHA ACTUALIZACIÓN</td>
    <td><%= @order.updated_at %></td>
  </tr>
  <tr>
    <td>EMPRESA DESPACHO</td>
    <td><%= @order.payment.delivery_company.nombre %></td>
  </tr>
  <tr>

    <td>DIRECCION EMPRESA DESPACHO  </td>
    <td> <%= @order.payment.delivery_company.address.direccionCompuesta %></td>
  </tr>
  </table>

