<div class="panel panel-default">

  <div class="panel-heading"><strong>NUEVA COMPAÑIA DE DELIVERY</strong></div>

  <div class="panel-body">
    <%= render 'form', delivery_company: @delivery_company %>
  </div>
<%= link_to 'Back', delivery_companies_path %>
