<div class="panel panel-default">

 <%= render :partial => 'products/parts/encabezado' %>
 <%= render :partial => 'products/parts/productdetails' %>

</div>


<div class="panel panel-default">
  <div class="panel-heading"><h4>Especificaciones</h4></div>
  <div class="panel-body">
   <%= raw @product.specifications %>
   </div>
</div>


<%= render :partial => 'products/parts/comments' %>



