
<div class="panel panel-default">
  <div class="panel-heading">
    <strong>DETALLE ORDEN</strong>
  </div>


  <table width="100%" class="table table-bordered">

  <tr class="active">
    <th>TIENDA</th>
    <th>PRODUCTO</th>
    <th>CANTIDAD</th>
    <th>PRECIO</th>
  </tr>

    <%  @articulos.each do |art| %>
    <tr>
      <td><%= art.article.tienda.name %>
      <td><%= art.article.product.name %></td>
      <td> <%= art.cantidad %> </td>
      <td> <%= number_to_currency( art.precio_venta, precision: 0)  %> </td>

    </tr>
    <% end %>
    </table>




</div>
