<div ng-controller="appController">



<table>
 <tr>
    <td  colspan="<%=  @product.product_images.length %>" align="center">
      <div ng-if="firsttime">
        <%= image_tag @product.product_images.first.image.url(:medium) %>
      </div>
      <div ng-if="!firsttime">
        <img ng-src="{{imagen}}" >
      </div>

    </td>

  </tr>
  <tr>
    <% @imagenes.each do |imagen| %>
      <td>
        <button ng-click="cambiaImagen(<%= imagen.id %>)">
        <%= image_tag imagen.image.url(:thumb), :class =>'img-thumbnail' %>
        </button>
      </td>
    <% end %>

  </tr>

</table>



</div>
