<div ng-controller="appController">


<table width="100%">
<tr>
<td class="contenedorimagen" align="center">

      <% index = 0 %>
      <% @imagenes.each do |imagen| %>
        <% index = index + 1 %>

         <img src="<%=  imagen.imagen.url(:medium)  %>" ng-show="isSelected(<%= imagen.id %>,<%= index %>)" class="animate-img-show img-responsive" >

      <% end %>


  </td></tr>

<tr>
<td class="contenedorthumbs">
    <div ng-repeat="imagen in imagenesThumb" style="float: left;">
      <div ng-click="cambiaImagen(imagen.id)" class="imagenesThumb">

          <img ng-src="{{imagen.url}}" class="animate-img-show img-responsive" />

      </div>
    </div>

  </td></tr>
  </table>



</div>

