<div class="panel-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
       <%= render :partial => 'products/parts/imagenes' %>
      </div>

        <div class="col-md-4">
          <%= render :partial => 'products/parts/info' %>
        </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-2 well">
        <%= render :partial => 'products/parts/proveedorarticulo' %>
      </div>
    </div>
  </div>
</div>

