<div class="panel-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 center-block">
       <%= render :partial => 'products/parts/imagenes' %>
      </div>

        <div class="col-md-4 center-block">
          <%= render :partial => 'products/parts/info' %>
        </div>

       <% if current_user.present? && current_user.profile.canbuy  %>
      <div class="col-md-4 well center-block">

          <%= render :partial => 'products/parts/proveedorarticulo' %>

    </div>
    <% end %>
    </div>
  </div>
</div>

