<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

     <%= menu_group do %>

            <%= menu_item "Acerca de nosotros", about_path %>

            <%= menu_item "Contacto", contactsite_path %>
            <%= menu_item "Preguntas frecuentes", faq_path %>

    <% end %>

  </div>
</nav>


