<% if user_signed_in? %>

<div class="panel panel-default">
    <div class="panel-heading">
       <strong> MI CARRO</strong>
    </div>
    <div class="panel-body">
        TIENES X ARTICULOS <br/>
        CON $$$ POR PAGAR

         <%= link_to "VER CARRO",  carro_path(current_user), :class => "btn btn-default"%>
    </div>

</div>









<% end %>



